<div class="header">
  <img
    src="../assets/logo2.png"
    alt="git logo"
    class="app-logo"
  >
  <h1 class="app-title">Github Organization Viewer</h1>
</div>
<div class="container app-search">
  <input
    type="text"
    class="input-text"
    placeholder="Enter Organization name"
  />
  <button (click) = "getUsers()" class="app-btn">Search</button>
</div>
<!-- <div class="container table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col app-th">Name</th>
        <th scope="col app-th">Url</th>
        <th scope="col app-th">Branch</th>
        <th scope="col app-th">Language</th>
        <th scope="col app-th">Repo Type</th>

      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
  </table>
</div> -->

