.header{
  margin-left: 3%;
}

.app-title{
  color: #c1c1c1;
  text-align: center;
  font-size: 70px;
  position: relative;
}
.app-logo{
  float: left;
  width: 100px;
  height: 100px;
}
/* .app-search{
  align-items: center;
} */

.container{
  color: #fff;
  max-width: 500px;
  margin: auto;
}

.app-btn{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7313cb;
  margin: 20px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.app-th{
  margin: 20px;
}
